git+https://github.com/huggingface/accelerate.git
git+https://github.com/huggingface/diffusers.git
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/transformers.git
huggingface_hub
sentencepiece
torchvision
kernels
spaces
hf_xet
gradio==6.17.3
torch==2.11.0
numpy
av